@media screen and (max-width:400px){
.big-card-class{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.big-card-first-text{
  font-size: 8px;
  margin: 10px;
  color: rgb(58, 58, 58);
}

.big-card-title > h1{
  font-size: 12px;
  margin: 10px;
}

.big-card-text{
  color: rgb(58, 58, 58);
  margin: 15px;
  font-size: 8px;
}

.big-card-photo > img{
  width: 80%;
  min-width: 370px;
  margin-left: 5px;
}

a{
  text-decoration: none;
}
a:link{color: black;}
a:visited{color:black;}
a:hover{color: rgb(192, 192, 192);}

.end-page{
  width: 80%;
  height: 1px;
  align-items: center;
  background-color: black;
  margin-right: 20px;
}
}
