.big-card-class{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.big-card-first-text{
  font-size: 12px;
  margin: 10px;
  color: rgb(58, 58, 58);
}

.big-card-title > h1{
  font-size: 20px;
  margin: 10px;
}

.big-card-text{
  color: rgb(58, 58, 58);
  margin: 10px;
  font-size: 11px;
}

.big-card-photo > img{
  width: 90%;
  min-width: 390px;
  margin-left: 30px;
}

a{
  text-decoration: none;
}
a:link{color: black;}
a:visited{color:black;}
a:hover{color: rgb(192, 192, 192);}

.end-page{
  width: 95%;
  height: 1px;
  align-items: center;
  background-color: black;
}
