.small-text-card-class{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.small-text-card-first-text{
  font-size: 10px;
  margin: 10px;
  color: rgb(58, 58, 58);
}

.small-text-card-title > h1{
  font-size: 16px;
  margin: 10px;
}

.small-text-card-text{
  color: rgb(58, 58, 58);
  margin: 10px;
  font-size: 11px;

}

.small-text-card-photo > img{
  width: 10%;
  height: 10%;
  border-radius: 50%;
  min-width: 10px;
  margin-left: 10px;
}

a{
  text-decoration: none;
}
a:link{color: black;}
a:visited{color:black;}
a:hover{color: rgb(192, 192, 192);}

.end-page{
  width: 95%;
  height: 1px;
  align-items: center;
  background-color: black;
}

.small-text-card-ass > h4{
  font-size: 12px;
  margin-left: -55px;
}
