<div class="small-text-card-class">
  <div class="small-text-card-first-text">
    <h4>Porto Alegre | RS - Brazil & 16/12/2022</h4>
  </div>
  <a href="#">
    <div class="small-text-card-title">
      <h1>Aprendendo sobre Angular com a Digital Innovation One</h1>
    </div>
  </a>
  <div class="small-text-card-photo">
    <img src="https://i.pinimg.com/originals/f2/bc/3c/f2bc3c060d484bd47fdd6b411939d005.png" alt="" >
  </div>
  <div class="small-text-card-ass">
    <h4>Gabriela Souza Oliveira</h4>
    <p>Desenvolvedora</p>
  </div>
  <div class="small-text-card-text">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos nobis fugit ipsa fuga voluptatum officiis perferendis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis optio sapiente qui quas quod voluptate minus accusantium earum, eveniet, commodi eligendi officia delectus sed cumque ut voluptatem, adipisci quasi fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis assumenda quos et laboriosam! Labore nobis doloremque, consequuntur soluta autem libero ex dolor quae aliquam quod excepturi reprehenderit nihil commodi ipsa.</p>
  </div>
  <div class="end-page"></div>
</div>


