<div class="small-card-class">
  <div class="small-card-first-text">
    <h4>Porto Alegre | RS - Brazil & 16/12/2022</h4>
  </div>
  <div class="small-card-photo">
    <img src="https://images.pexels.com/photos/1721558/pexels-photo-1721558.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" >
  </div>
  <a href="#">
    <div class="small-card-title">
      <h1>Primeiro blog Angular</h1>
    </div>
  </a>
  <div class="small-card-text">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos nobis fugit ipsa fuga voluptatum officiis perferendis.</p>
  </div>
  <div class="end-page"></div>
</div>

