@media screen and (max-width: 400px) {
.content-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content-img > img {
  width: 80%;
  height: 80%;
  min-width: 300px;
  border-radius: 5px;
}

.content-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.content-description{
  display: flex;
  justify-content: flex-start;
  width: 90%;
}

.content-title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-text{
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

button {
  font-size: 14px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  border: none;
}

/* EFEITOS DE BOTÃO: */

button:focus,
button:hover {
  color: rgb(165, 163, 161);
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(165, 163, 161);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.content-back {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 50px;
}

.content-dayPost{
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 10px;
}
.content-dayPost > p{
  margin: 10px;
}
}
