<div class="content-back">
  <button [routerLink]="['']">VOLTAR</button>
</div>
<div class="content-page">
  <div class="content-img">
    <img src="https://images.pexels.com/photos/4132651/pexels-photo-4132651.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
  </div>
  <div class="content-text">
    <div class="content-title">
      <h1>NOTÍCIA MUITO GAROTA</h1>
    </div>
    <div class="content-description">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam facere similique numquam repellat officia aliquid iusto, nisi quibusdam dicta iure dolore excepturi animi ex. Error recusandae vero doloribus nihil quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, ipsa omnis fuga corrupti odio, ipsam rerum porro molestiae similique asperiores tenetur, tempora a eveniet consequatur consequuntur voluptate natus? Corporis, delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, culpa quam porro repudiandae doloremque soluta, sed cum aspernatur harum velit eligendi cupiditate vitae animi sequi atque, excepturi obcaecati et dicta?</p>
    </div>
  </div>
</div>





