
<app-menu-title></app-menu-title>
<div class="main-notices">
  <div class="first-column-notices">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
  <div class="second-column-notices">
    <app-big-card
    id="1"
    dayPost="Porto Alegre | RS - Brazil // 16/12/2022"
    photoCover="https://images.pexels.com/photos/4993285/pexels-photo-4993285.jpeg?auto=compress&cs=tinysrgb&w=600"
    cardTitle="Buscando inspiração"
    cardText="Em constante busca de inspiração, tenho a fotografia como uma das minhas paixões. Fiz um curso técnico em áudio visual e trabalhei como fotógrafa no início da faculdade. Uma das inspirações para este blog foram fotos no site Pexels."
    ></app-big-card>
    <app-big-card
    dayPost="Porto Alegre | RS - Brazil // 17/12/2022"
    photoCover="https://images.pexels.com/photos/5460440/pexels-photo-5460440.jpeg?auto=compress&cs=tinysrgb&w=600"
    cardTitle="Alegria também através da dança!"
    cardText="A dança me remete a felicidade e proporciona um bem estar, espero sempre poder mexer o corpo desta forma e manter a vida equilibrada."
    ></app-big-card>
  </div>
  <div class="third-column-notices">
    <app-small-text-card></app-small-text-card>
    <app-small-text-card></app-small-text-card>
  </div>
</div>
