<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<div class="nav-class">
  <div class="text-inicial">
    <p>Newspaper.</p>
  </div>
  <div class="nav-menu">
    <nav>
      <ul>
        <li>Follow me on social media</li>
      </ul>
    </nav>
  </div>
  <div class="nav-social">
    <ul>
      <li><a href="https://www.instagram.com/yesgabio/" target="_blank"> <i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/yesgabio/" target="_blank"> <i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://twitter.com/yesgabio" target="_blank"> <i class="fa fa-twitter"></i></a></li>
      <li><a href="https://github.com/yesgabio" target="_blank"> <i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</div>
